name: hicinterpolate
channels:
  - pytorch
  - nvidia
  - pyg
  - conda-forge
dependencies:
  - python=3.9
  - pip
  - pytorch=2.1.1
  - torchvision=0.16.1
  - torchaudio=2.1.1
  - pytorch-cuda=11.8
  - numpy<=1.24.3
  - scipy=1.10.1
  - pandas=2.2.3
  - matplotlib=3.9.4
  - scikit-learn=1.6.1
  - seaborn=0.13.2
  - networkx=3.2.1
  - tqdm=4.65.0
  - pyg=2.5.3
  - cupy=13.3.0
  - cugraph
  - pip:
      - tensorflow==2.13.0
      - torchmetrics==1.7.1
      - omegaconf==2.3.0
      - lpips
      - wandb
      - cooler
