name: hicinterpolate
channels:
  - conda-forge
  - bioconda
  - nvidia
  - pytorch
dependencies:
  - python=3.9
  - pytorch=2.1.1
  - torchvision=0.16.1
  - torchaudio=2.1.1
  - pytorch-cuda=11.8
  - numpy=1.26
  - torchmetrics=1.7.1
  - matplotlib=3.9.4
  - pandas=2.2.3
  - cooler
  - omegaconf=2.3.0
  - lpips
  - wandb
  - openjdk=8
  - cupy-cuda12x==13.3.0
  - cugraph-cu12 --extra-index-url=https://pypi.nvidia.com
  - scipy==1.15.1
  - scikit-learn==1.6.1
  - tqdm==4.65.0
  - seaborn==0.13.2
